body {
    background: #0a0a0a;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    padding: 20px;
}

.buttons button {
    background: #6200ea;
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.chat {
    margin-top: 20px;
    button{
        background: #252;
        color: white;
        border: none;
        padding: 10px 8px;
        margin: 5px;
        border-radius: 8px;
        cursor: pointer;
    }
}

.messages {
    height: 400px;
    overflow-y: auto;
    background: #1a1a1a;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: none;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: black;
    border-bottom: 1px solid #ddd;
}

.main-header h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

/* Estilos do botão de hambúrguer */
.menu-toggle {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

/* --- Estilos do Menu Lateral --- */
.sidebar-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;}

/* Lista de links do menu */
.sidebar-menu ul {
    list-style-type: none;
    text-align: center;
}

.sidebar-menu a {
    padding: 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: inline-block;
    transition: 0.3s;
}

.sidebar-menu a:hover {
    color: #f1f1f1;
    background-color: #555;
}

/* Estilo do botão de fechar */
.close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    background: none;
    border: none;
    color: #f1f1f1;
    cursor: pointer;
}

/* Classe 'open' adicionada via JavaScript */
.sidebar-menu.open {
    width: auto;
    padding-right: 27px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px; width: 26px;
  left: 4px; bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50; /* verde Android */
}

input:checked + .slider:before {
  transform: translateX(26px);
}
