{% extends "base.html" %}
{% block title %}Dash Residencial{% endblock %}
{% block page_title %} + dispositivos{% endblock %}
{% block content %}

<div class="add-device-container">
    <h2>Adicionar Dispositivo</h2>

    <div class="hud-line"></div>

    <!-- Nome do dispositivo -->
    <div class="field">
        <label>Nome do dispositivo</label>
        <input 
            type="text" 
            placeholder="Ex: Lâmpada da Mesa"
            id="device-name">
    </div>

    <!-- Tipo de acionamento -->
    
    <label for="acao">Acionamento:</label>
    <select id="acao" name="acao" class="selector">
        <option value="lan">LAN</option>
        <option value="arduino">Arduino</option>
        <option value="tuya">Lâmpada wifi</option>
    </select>


</div>
    <button class="add-btn">Adicionar</button>
</div>



{% endblock %}