{% extends "base.html" %}
{% block title %}Dash Residencial{% endblock %}
{% block page_title %}Residência{% endblock %}
{% block content %}

{% for d in devices %}
<div class="device-card">
    <h3>{{ d.name }}</h3>

    <div class="device-actions">
        <label class="switch">
            <input type="checkbox"
                   onchange="toggleDevice({{ d.id }}, this)">
            <span class="slider"></span>
        </label>

        <button class="btn-delete"
                onclick="deleteDevice({{ d.id }})">
            Excluir
        </button>
    </div>
</div>
{% endfor %}

<div style="margin-top: 30px;">
<button class="add-disp"
onclick="window.location.href='/add_dispositivo?user_id={{ user.id }}&role={{ user.role }}'">
Adicionar dispositivo
</button>
</div>


<script>
function toggleDevice(deviceId, checkbox) {
    const action = checkbox.checked ? "ligar" : "desligar";

    fetch(`/device/${deviceId}/toggle`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ action })
    })
    .then(res => {
        if (!res.ok) throw new Error("Erro ao enviar comando");
        return res.json();
    })
    .then(data => {
        console.log("OK:", data);
    })
    .catch(err => {
        console.error(err);
        checkbox.checked = !checkbox.checked; // desfaz visualmente
    });
}

function deleteDevice(deviceId) {
    if (!confirm("Excluir este dispositivo?")) return;

    fetch(`/api/devices/${deviceId}`, {
        method: "DELETE"
    })
    .then(res => {
        if (!res.ok) throw new Error("Erro ao excluir");
        location.reload();
    });
}
</script>

{% endblock %}
