{% extends "base.html" %}
{% block title %}Dash Residencial{% endblock %}
{% block page_title %}Residência{% endblock %}
{% block content %}
<style>
button {
    padding: 10px 18px;
    margin: 5px;
}
.on {
    background: #00c853;
    color: white;
}
</style>
{% for d in devices %}
<div>
    <b>{{ d.name }}</b>
    <button id="btn-{{ d.id }}" onclick="toggle({{ d.id }})">
        Desligado
    </button>

    <button class="btn-delete" onclick="deleteDevice({{ d.id }})">
        Excluir
    </button>
    
</div>
{% endfor %}


<div style="margin-top: 30px;">
<button class="add-disp"
onclick="window.location.href='/add_dispositivo?user_id={{ user_id }}&house_id={{ house_id }}'">
Adicionar dispositivo
</button>
</div>

<script>
const params = new URLSearchParams(window.location.search)
const house_id = params.get("house_id")
const user_id = params.get("user_id")

async function toggle(id) {
    const res = await fetch(
        `/device/${id}/toggle?house_id=${house_id}&user_id=${user_id}`,
        { method: "POST" }
    )

    const data = await res.json()

    const btn = document.getElementById("btn-" + id)

    if (data.state) {
        btn.classList.add("on")
        btn.innerText = "Ligado"
    } else {
        btn.classList.remove("on")
        btn.innerText = "Desligado"
    }
}

async function toggle(id) {
    const res = await fetch(`/device/${id}/toggle?house_id=${house_id}`, {
        method: "POST"
    })

    const data = await res.json()

    const btn = document.getElementById("btn-" + id)

    if (data.state) {
        btn.classList.add("on")
        btn.innerText = "Ligado"
    } else {
        btn.classList.remove("on")
        btn.innerText = "Desligado"
    }
}

carregarEstados()
</script>


{% endblock %}
