{% extends "base.html" %}
{% block title %}Dash Residencial{% endblock %}
{% block page_title %}Residência{% endblock %}
{% block content %}

{% for d in devices %}
    <div class="device-card">
        <h3>{{ d.name }}</h3>

        <div class="device-actions">
            <label class="switch">
                <input type="checkbox" onchange="toggleDevice({{ d.id }}, this)">
                <span class="slider"></span>
            </label>

            <button class="btn-delete" onclick="deleteDevice({{ d.id }})">
                Excluir
            </button>
        </div>
    </div>
{% endfor %}

<div style="margin-top: 30px;">
<button class="add-disp"
onclick="window.location.href='/add_dispositivo?user_id={{ user.id }}&role={{ user.role }}'">
Adicionar dispositivo
</button>
</div>


<script>

function deleteDevice(deviceId) {
    if (!confirm("Deseja remover este dispositivo?")) return;

    fetch(`/api/devices/${deviceId}`, {
        method: "DELETE"
    })
    .then(r => r.json())
    .then(data => {
        if (data.status) {
            alert("Dispositivo removido");
            location.reload();
        } else {
            alert(data.error || "Erro ao remover");
        }
    });
}

function toggleDevice(checkbox, id) {
    fetch(`/device/${id}/toggle`, { method: 'POST' });
}

document.addEventListener('DOMContentLoaded', () => {
    const btn = document.querySelector('.add-disp');

    if (btn) {
        btn.addEventListener('click', () => {
            window.location.href = "/add_dispositivo";
        });
    }
});
</script>

{% endblock %}
